@font-face {
  font-family: 'iransans';
  src: url('./assets/fonts/iransans/IRANSansWeb.woff2') format('woff2'),
       url('./assets/fonts/iransans/IRANSansWeb.woff');
  font-style: normal;
}


body {
  font-family: 'iransans', sans-serif;
  line-height: 30px;
  font-size: 13px;

}

* {
  font-family: 'iransans', sans-serif;
}
 a.router-link-exact-active {
    border-bottom: 3px solid skyblue;
 }
 .vpd-input-group {
  direction: ltr;
  text-align: center;
 }

 .input-group>.form-control:not(:focus).is-invalid{
  z-index: 0;
 }

